<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hellopitch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="">

  <div class="row" style="margin: 30px 0 0 0;">
    <div class="col-sm-4" style="padding: 10px;">
      <%= image_tag 'logo.png', width: 35, height: 35 %>
      <span style="font-weight: bold; font-size: 24px; margin: 0 0 0 10px;">Hello, Pitch.</span>
    </div>
    <div class="col-sm-5">
      <div>
        <% if current_user %>
          You are <%= current_user.name %>,
          <%= link_to 'logout', '/logout', method: 'post' %>
          <hr class="half-rule">
        <% end %>
      </div>

    </div>
  </div>

  <%= yield %>

</div>


</body>
</html>
